{% extends 'layout.html.twig' %}
{% block title %}
	{{ parent() }} -Inscription
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/style.css">
{% endblock %}

{% block content %}
	<div class="uk-container uk-position-center">
		<h1 class='uk-text-center'>Inscription</h1>
		<div class="line"></div>
		<form class='form-sign' method="post">
			{% if errors.compte is defined %}
				<div class="uk-alert-danger" uk-alert>
					<a class="uk-alert-close" uk-close></a>
					<p>{{ errors.compte }}</p>
				</div>
			{% endif %}
			<input class="input-sign uk-input" name="firstname" type="text" placeholder="Prénom">
			{% if errors.firstname is defined %}
				<div class="uk-alert-danger" uk-alert>
					<a class="uk-alert-close" uk-close></a>
					<p>{{ errors.firstname }}</p>
				</div>
			{% endif %}
			<input class="input-sign uk-input" name="lastname" type="text" placeholder="Nom de famille">
			{% if errors.lastname is defined %}
				<div class="uk-alert-danger" uk-alert>
					<a class="uk-alert-close" uk-close></a>
					<p>{{ errors.lastname }}</p>
				</div>
			{% endif %}
			<input class="input-sign uk-input" name="email" type="mail" placeholder="Email">
			{% if errors.email is defined %}
				<div class="uk-alert-danger" uk-alert>
					<a class="uk-alert-close" uk-close></a>
					<p>{{ errors.email }}</p>
				</div>
			{% endif %}
			<input class="input-sign uk-input" name="password" type="password" placeholder="Mot de passe">
			{% if errors.password is defined %}
				<div class="uk-alert-danger" uk-alert>
					<a class="uk-alert-close" uk-close></a>
					<p>{{ errors.password }}</p>
				</div>
			{% endif %}
			<button class="uk-button">Inscription</button>
		</form>
		<div class="line"></div>
	</div>
{% endblock %}
