	<div class="uk-container uk-position-center">
	<div id="modal-center-2" class="uk-flex-top pop-up modal-center-2" uk-modal>
	<div class="uk-modal-dialog container  uk-modal-body uk-margin-auto-vertical div_login ">
	<button class="uk-modal-close-default" type="button" uk-close></button>
		<h1 class='uk-text-center'>Inscription</h1>
		<div class="line"></div>
		<form class='form-sign' id="signin" method="post">
			{% if errors.compte is defined %}
				<div class="uk-alert-danger" uk-alert>
					<a class="uk-alert-close" uk-close></a>
					<p>{{ errors.compte }}</p>
				</div>
			{% endif %}
			<input class="input-sign uk-input" name="firstname" type="text" placeholder="Prénom">
			{% if errors.firstname is defined %}
				<div class="uk-alert-danger" uk-alert>
					<a class="uk-alert-close" uk-close></a>
					<p>{{ errors.firstname }}</p>
				</div>
			{% endif %}
			<input class="input-sign uk-input" name="lastname" type="text" placeholder="Nom de famille">
			{% if errors.lastname is defined %}
				<div class="uk-alert-danger" uk-alert>
					<a class="uk-alert-close" uk-close></a>
					<p>{{ errors.lastname }}</p>
				</div>
			{% endif %}
			<input class="input-sign uk-input" name="email" type="mail" placeholder="Email">
			{% if errors.email is defined %}
				<div class="uk-alert-danger" uk-alert>
					<a class="uk-alert-close" uk-close></a>
					<p>{{ errors.email }}</p>
				</div>
			{% endif %}
			<input class="input-sign uk-input" name="password" type="password" placeholder="Mot de passe">
			{% if errors.password is defined %}
				<div class="uk-alert-danger" uk-alert>
					<a class="uk-alert-close" uk-close></a>
					<p>{{ errors.password }}</p>
				</div>
			{% endif %}
			<button class="uk-button" type="submit">Inscription</button>
		</form>
		<div class="line"></div>
	</div>

