<div id="modal-center{{ i }}" class="uk-flex-top" uk-modal>
    <div class="modal-calendar uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
      <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class='titre-calendrier uk-text-center'>Recette du jour:</h2>
        {% if i == dateDay - 1 %}
          <div class='calendar-content uk-text-center'>{{ contents.recette }}</div>
        {% endif %}
        <h2 class='titre-calendrier uk-text-center'>Blague du jour:</h2>
        {% if i == dateDay - 1 %}
          <div class='calendar-content uk-text-center'>{{ contents.blague }}</div>
        {% endif %}
        <h2 class='titre-calendrier uk-text-center'>Cadeau pourri:</h2>
        {% if i == dateDay - 1 %}
          <div class='calendar-content uk-text-center'>{{ contents.cadeau }}</div>
        {% endif %}
        <h2 class='titre-calendrier uk-text-center'>Film du jour:</h2>
        {% if i == dateDay - 1 %}
          <div class='calendar-content uk-text-center'>{{ contents.film }}</div>
        {% endif %}
    </div>
  </div>